/*NEWS ON HOMEPAGE

***************************************************************/

body{
    
    

}
div.container{
	width :90%;
	margin-left: 90px;
	margin-right: 0px;

}

div.news_hm{
	width :50%;
}

div.he{
	
	
	}


div.s{
	border-bottom: thin blue dotted;
	margin-bottom: 20px;
	
}

div.news_hm div.aidanews2 .even, .aidanews2 .even{
	background-color: transparent!important;
}

.aidanews2_line{
	border: 0 none;
}

div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main div.aidanews2_mainL a.aidanews2_img1{
   margin-right: 17px;
}

div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main div.aidanews2_mainL a.aidanews2_img1 img{

    padding: 5px;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}

div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main div.aidanews2_mainC h1.aidanews2_title{
	clear: both;
	display: block;
	line-height: 23px;
    margin-bottom: 3px;
}

div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main div.aidanews2_mainC{
	clear: both;

}

div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main div.aidanews2_mainC span.aidanews2_text{
	color: #2D343E;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 3px;
	text-align:justify;
}

div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main div.aidanews2_mainC h1.aidanews2_title a{
	color: #2D343E;
    font-family: 'Open Sans',sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 3px;
}

div#news_hm div.moduletable div.aidanews2 div.aidanews2_art div.aidanews2_positions div.aidanews2_main div.aidanews2_mainC a.readon{
	display: block;
	margin-top: 15px;
}

div#news_hm div.moduletable div.aidanews2_bottomlink{
	display: none;
}






