            .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {

            }

            .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
                background-color: white !important;
            }
            .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
                color: #080808 !important;
                font-size: 18px !important;
                font-weight: bold !important;
            }
            .nav>li>a {
                padding-top: 26px !important;
                padding-bottom: 35px !important;
            }
            .navbar-nav>li>.pad {
                font-size: 22px;

                color: black !important;
            }
            .navbar-inverse {
                background: rgba(0, 0, 0, 0.8);
            }
            .navbar{
                margin-bottom: -81px !important;
                margin-left: -282px !important;
            }
            .dropdown-menu {
                background-color: #D6BFD5 !important;
            }
            .form-group{
                width: 500px;
            }
            .container {
                text-align: left;
                width: 800px;
                height: auto;
                margin: 78px auto;
                padding-left: 144px;
                background: rgba(0, 0, 0, 0.4);
                margin-left:  -5px;
            }
            .button {
                border: none;
                padding: 10px 28px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                cursor: pointer;
            }
            .button1 {
                background-color: white;
                color: #555555;
                border: 4px solid #555555;
            }
            .button1:hover {
                background-color: #555555;
                color: #e7e7e7;
                border: 4px solid #e7e7e7;
            }
            .button2 {
                background-color: white;
                color: #555555;
                border: 4px solid #555555;
            }
            .button2:hover {
                background-color: #555555;
                color: #e7e7e7;
                border: 4px solid #e7e7e7;
            }
            .btn-group{
                margin-left: 390px;
                padding-bottom: 20px;
            }

            .browse{
                background-color: rgba(150,150,150, 0.5) !important;
                color: white;
                font-weight: bold;
            }

            .lbl{
                font-size: 18px;
                color: white;
            }
            .form-control:focus {
                border-color:#ffffff !important;
            }
             #title{
                margin: 58px auto;
                margin-left: 83px;
                color: white;
                font-size: 35px;
            }
             #ftr{
                margin-left: -281px;

                background-color: black;
                height: 150px;
                width: 126%
            }
            #sectn{
                margin-top: 10px;

            }
            body {
                background-image:  url("bg-blended-1024x750.jpg");
                text-align: center;
                margin-left: 280px;
                background-size:cover;
            }