/* Website template by freewebsitetemplates.com */
body {
	
	
	
	
	
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
#page {
	width: 100%;
	height:auto;
	margin: 0  auto;
	position: relative;
}
img {
	border: 0;
}
/*------------------------------ SPRITES ------------------------------*/



 /* For IE8 and earlier */


div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

/*------------------------------ HEADER ------------------------------*/
#header {
	min-height: 5px;
	position: relative;
}
/** Logo **/
#logo {
	display: block;
	width: 250px;
	padding-bottom: 30px;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {
	background-position: left bottom;
	background-color: #00b3b3;
	display: block; 
  border: 1px solid black;
  background: url(50%-transparent-white.png);
  background: rgba(240,240,240,0.5);
  background-size:auto;
	margin-top: 5px;
	margin-bottom: 30px;
	padding-bottom: 11px;
}
#contents > div {
	background-position: left bottom;
	padding-bottom: 1px;
}
#contents div.background {
	min-height: auto;
	padding: 60px 20px 30px;
}
#contents h2 {
	color: #f0e99a;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	text-transform: uppercase;
}
#contents h4 {
	text-align: center;
	margin: 0;
  
  color: #000000;
	
	font:bold 20px/30px Arial, Helvetica, sans-serif;
	letter-spacing: 10px;
	
	
	text-transform: uppercase;
}
#contents h4 a {
	color: #f0e99a;
	text-decoration: none;
}
#contents h4 a:hover {
	color: #a08a6b;
}
#contents p {
	
    
    color: #F8F8FF;
	
	font:16px/30px "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: 0;
	padding: 0 0 30px;
	text-align: justify;
}
#contents p a {
	color: #a08a6b;
}
#contents p a:hover, #headline div.body p a:hover {
	color: #d1b676;
}


/** News **/
#news ul {
	list-style: none;
	margin: 30px 0px 0px;
	padding: 0;
}
#news ul li {
	background: url(../images/border.png) repeat-x left top;
	display: inline-block;
	width: 100%;
	height:auto;
	margin-bottom: 30px;
	
	padding: 60px 0 0;
}
#news ul li:first-child {
	background: none;
	padding-top: 0;
}
#news ul li img {
	opacity: 1; 
	float: right;
	margin-left: 20px;
	margin-top: 6px;
	
}
#news ul li:first-child img {
	float: left;
	margin-left: 0;
	margin-right: 20px;
}
#news li p em {
	
  font-weight: bold;
  color: #F8F8FF !important;
	
	display: block;
	font: bold 14px/30px "Times New Roman", Times, serif !important;
	letter-spacing: normal;
}
#news li p em a {
	color: #F8F8FF;
}

