@import 'https://fonts.googleapis.com/css?family=Chewy';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';
@import 'https://fonts.googleapis.com/css?family=Shadows+Into+Light';
@import 'https://fonts.googleapis.com/css?family=Varela+Round';

.body {
	font-family:  'Oxygen', sans-serif;
}

/*navbar1*/


.navbar1{
	background-color: #4c4743;
	margin-left: -0.05%;
	margin-right: -0.05%;
	font-size: 15px;
	position: fixed;
	width: 100%; 
	border-bottom:none; 
	border-radius:0;
	font-family: 'Varela Round', sans-serif;

}



.navbar-li > li > a{
	color: #ffffff !important; 
	font-family: 'Varela Round', sans-serif;
}
.header1 {
	font-family: 'Chewy', cursive;
	font-size: 50px;
}
.header2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 50px;
}

.input-area:focus {
	border-color: #7e8082;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(95, 97, 99, 0.6);
}
.nav-header{
	/*position: fixed;*/
}
.btn1 {
	font-size: 15px !important; 
	color:#ffffff; 
	padding-top:17px;
}

.navbar-head-list{
	color: #ffffff !important;
}


/*overrides*/
.navbar-default .navbar-brand {
	color: #ffffff;
	padding-left: 60px;
	font-size: 30px;
}

.navbar-nav > li > a {
	padding-top: 
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #a79e9e;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	margin-top: 6px;
	margin-bottom: 5px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #ffffff;
}
/*/overrides*/




/*navbar2*/

.navbar2{
	background-color:#ffffff;
	border-color: #ffffff;
	font-size: 20px;
	color: #000000; 
	font-family: 'Varela Round', sans-serif;
}
.dropdwncustom{
	background-color: #ffffff;
}

.list > li {
	padding-left: 86px;
	color: #000000;
}
.list > li > a {
	font-style: italic;
	font-weight: bold;
	color: #000000 !important;
}
.list{
	padding-left: 95px;
}
.menu > li > a{
	padding-top: 15px;
}
.menu{
	position: inherit;
	border-radius: 9px;
    position: absolute;
    left: 100px;
}


/*Overrides*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #ffffff;
}


/* /Overrides*/



/*side nav*/

.list-of-content {
	margin-top: 40px;
	font-family: 'Varela Round', sans-serif;
}
.list-container{
	background-color: #4c4743;
	margin-top: 67px;
	height: 100%;
	position: fixed;

}
.a {
	color: #000000;
}
.list-of-content >li > a {
	color: #ffffff;
}
.list-of-content >li > a:focus, .list-of-content >li > a:hover {
	background-color: #c16d28
}

div.profile-picture {
	border-style: solid;
	border-color: #c16d28;
	border-radius: 6px;
	width: 100px;
	height: 100px;
	margin: auto;
	margin-top: 15px;
	background-image: url('../img/propic.png');
	background-position: center;
}



.insert-form{
	margin-top: 140px;
	/padding-top: 1.5%;
	z-index: -1;
}

@media(max-width:768px){
	.mini-bar{
		display:none;
	}
}

@media(min-width:768px){
	.min-link{
		display: none !important;
	}
}

/*@media(max-width: 768px){
	.min-link > li> a:focus, .min-link >li >a:hover{
		background-color: #c16d28;
	}
}*/

.min-link >li> a:hover, .min-link >li> a:focus{
	background-color: #c16d28;
}


/*submenu*/


.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
}

.mainmenu a:hover {
    background-color: #c16d28!important;
}



.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
  padding-left: 10px;
}

.submenu a {
  background-color: none;
}

.submenu a:hover {
  background-color: #c16d28;
}


.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}